body {
  font-family: 'Montserrat', sans-serif;
  background-color: #477890;
  color: white;
}

#editor {
  width: 100%;
  height: 480px;
}

button {
  margin-top: 10px;
  color: white;
  background: rgba(0,0,0,0);
  border: solid 3px white;
  height: 40px;
  width: 70px;
  font-size: 1em;
}

button:hover {
  border-color: #D1E6FC;
  color: #D1E6FC;
}

#output {
  background: #333;
  width: 100%;
  height: 100%;
}

.column {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.content:after {
  content: "";
  display: table;
  clear: both;
}
